VITE_SUPABASE_URL=https://hjrefjkhalnqrrlcwyzq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhqcmVmamtoYWxucXJybGN3eXpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MzI4MTgsImV4cCI6MjA5NDUwODgxOH0.Md3LFq-OdRQYz9v7dFfULGCrGhDmYdER-KgMymd_UNE
